force-app/main/default/flows/CheckOutFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_to_List</name>
        <label>Add to List</label>
        <locationX>138</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>reservation_list</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>reservation_records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_for_reservation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Billing_Data</name>
        <label>Billing Data</label>
        <locationX>138</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>BillingData.Check_In__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterart_Reservation.Check_In_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingData.Check_Out__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterart_Reservation.Check_Out_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingData.Total_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterart_Reservation.Total_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingData.Price_Per_Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterart_Reservation.Price_Per_Day__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingData.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterart_Reservation.Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingData.Customer1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterart_Reservation.Customer__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingData.MethodOfPayment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Method_Of_Payment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>room_records.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterart_Reservation.Room__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>room_records.Available_For_Booking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Total_Bill</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_Bill</name>
        <label>Total Bill</label>
        <locationX>138</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>TotalCost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterart_Reservation.Total_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BillingData</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>room_records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterart_Reservation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Reservation</name>
        <label>Update Reservation</label>
        <locationX>138</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>reservation_records.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_for_reservation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>reservation_records.Check_Out_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CheckOutDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Reservation_Checking</name>
        <label>Reservation Checking</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Reservation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_for_reservation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>MethodOfPayment</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MethodOfPayment__c</picklistField>
        <picklistObject>Billing__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CheckOutDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>CheckOutFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CheckOutFlow</label>
    <loops>
        <name>Iterart_Reservation</name>
        <label>Iterart Reservation</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <collectionReference>Get_Updated_Reservation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Billing_Data</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Billing</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_for_reservation</name>
        <label>loop for reservation</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <collectionReference>Get_Reservation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Reservation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_related_reservation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Billing</name>
        <label>Create Billing</label>
        <locationX>50</locationX>
        <locationY>1670</locationY>
        <connector>
            <targetReference>Update_Room_Availablity</targetReference>
        </connector>
        <inputReference>BillingList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Reservation</name>
        <label>Get Reservation</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reservation_Checking</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Check_Out_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Check_In_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>CheckOutDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Reservation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Reservation</name>
        <label>Get Updated Reservation</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Billing_Data_Table</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Reservation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_related_reservation</name>
        <label>update related reservation</label>
        <locationX>50</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>Get_Updated_Reservation</targetReference>
        </connector>
        <inputReference>reservation_list</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Room_Availablity</name>
        <label>Update Room Availablity</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Visited_Again</targetReference>
        </connector>
        <inputReference>RecordList</inputReference>
    </recordUpdates>
    <screens>
        <name>Billing_Data_Table</name>
        <label>Billing Data Table</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Iterart_Reservation</targetReference>
        </connector>
        <fields>
            <name>billingdetail</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Reservation__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Billing Details</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Updated_Reservation</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Check_In_Date__c&quot;,&quot;guid&quot;:&quot;column-ec2b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Check In Date&quot;,&quot;type&quot;:&quot;date&quot;},{&quot;apiName&quot;:&quot;Check_Out_Date__c&quot;,&quot;guid&quot;:&quot;column-ab78&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Check Out Date&quot;,&quot;type&quot;:&quot;date&quot;},{&quot;apiName&quot;:&quot;Price_Per_Day__c&quot;,&quot;guid&quot;:&quot;column-8990&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Price Per Day&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Discount__c&quot;,&quot;guid&quot;:&quot;column-00c7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Discount&quot;,&quot;type&quot;:&quot;customPercent&quot;},{&quot;apiName&quot;:&quot;Total_Cost__c&quot;,&quot;guid&quot;:&quot;column-1c77&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Total Cost&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Room__c&quot;,&quot;guid&quot;:&quot;column-ad23&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Room Number&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Room&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Method_Of_Payment</name>
            <choiceReferences>MethodOfPayment</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Cash In Hand</stringValue>
            </defaultValue>
            <fieldText>Method Of Payment</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Reservation</targetReference>
        </connector>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;No Reservation Found&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Visited_Again</name>
        <label>Visited Again</label>
        <locationX>50</locationX>
        <locationY>1910</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ThanksField</name>
            <fieldText>&lt;p&gt;Thank you visit again!!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Reservation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BillingData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Billing__c</objectType>
    </variables>
    <variables>
        <name>BillingList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Billing__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Customer__c</objectType>
    </variables>
    <variables>
        <name>RecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Rooms__c</objectType>
    </variables>
    <variables>
        <name>reservation_list</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Reservation__c</objectType>
    </variables>
    <variables>
        <name>reservation_records</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Reservation__c</objectType>
    </variables>
    <variables>
        <name>room_records</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Rooms__c</objectType>
    </variables>
    <variables>
        <name>TotalCost</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
