force-app/main/default/flows/Flow_For_Controlling_Reservation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Email_To_Customer</name>
        <label>Email To Customer</label>
        <locationX>50</locationX>
        <locationY>1694</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>update_Room_Availability</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Hii {!CustomerFullName} your rooms have been booked</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>CustomerEmail.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Room Confirmation</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>reservation_ID</name>
        <label>reservation ID</label>
        <locationX>138</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>reservationList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Reservation_Records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Room_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Room_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_for_Iterating</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>reservered_Record</name>
        <label>reservered Record</label>
        <locationX>138</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>Reservation_Records.Room__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_for_Iterating.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Reservation_Records.Check_In_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Starting_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Reservation_Records.Type_Of_Room__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Reservation_Records.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_for_Iterating.Dicount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Reservation_Records.Price_Per_Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_for_Iterating.Price_Per_Day__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Reservation_Records.Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Customer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Room_Records.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_for_Iterating.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Room_Records.Available_For_Booking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>reservation_ID</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_for_rooms</name>
        <label>check for rooms</label>
        <locationX>611</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Select_The_Room_For_Booking</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Rooms</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_The_Room</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_Room_Selection</name>
        <label>Check the Room Selection</label>
        <locationX>380</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Select_The_Room_Booking</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>List_Of_Rooms.firstSelectedRow.Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Detail</targetReference>
            </connector>
            <label>selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Customer_Check</name>
        <label>Customer Check</label>
        <locationX>182</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Select_The_Room_For_Booking</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustomerEmail.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CustomerPhone.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CustomerFullName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Customer</targetReference>
            </connector>
            <label>Email Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>TypesOfRoom</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Rooms__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CustomerFullName</name>
        <dataType>String</dataType>
        <expression>{!CustomerName.firstName} +&apos; &apos;+{!CustomerName.lastName}</expression>
    </formulas>
    <formulas>
        <name>TodayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Flow For Controlling Reservation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow For Controlling Reservation</label>
    <loops>
        <name>loop_for_Iterating</name>
        <label>loop for Iterating</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <collectionReference>List_Of_Rooms.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>reservered_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Reservation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Customer</name>
        <label>Create Customer</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>loop_for_Iterating</targetReference>
        </connector>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>CustomerEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>CustomerFullName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Number__c</field>
            <value>
                <elementReference>CustomerPhone.value</elementReference>
            </value>
        </inputAssignments>
        <object>Customer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Reservation</name>
        <label>Create Reservation</label>
        <locationX>50</locationX>
        <locationY>1574</locationY>
        <connector>
            <targetReference>Email_To_Customer</targetReference>
        </connector>
        <inputReference>reservationList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Rooms</name>
        <label>Get Rooms</label>
        <locationX>611</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_for_rooms</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Available_For_Booking__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Price_Per_Day__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Maximum_Price_Range</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TypesOfRoom</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Rooms__c</object>
        <sortField>Price_Per_Day__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Room_Availability</name>
        <label>update Room Availability</label>
        <locationX>50</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>Last_Screen</targetReference>
        </connector>
        <inputReference>Room_List</inputReference>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_Select_The_Room_For_Booking</name>
        <label>Copy 1 of Select The Room For Booking</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Customer_Detail</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Error_Message</name>
            <fieldText>&lt;p&gt;Please Fill All the Details&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Select_The_Room_For_Booking</name>
        <label>Copy 2 of Select The Room For Booking</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Rooms</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Error_Message</name>
            <fieldText>&lt;p&gt;Change Your Requirement&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Customer_Detail</name>
        <label>Customer Detail</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Customer_Check</targetReference>
        </connector>
        <fields>
            <name>Customer_Detail_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Detail_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CustomerPhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Customer_Detail_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CustomerEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>CustomerName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <pauseButtonLabel>cancel</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Find_Best_Hotel</name>
        <label>Find Best Hotel</label>
        <locationX>611</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Rooms</targetReference>
        </connector>
        <fields>
            <name>Find_Best_Hotel_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Find_Best_Hotel_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Starting_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>TodayDate</elementReference>
                    </defaultValue>
                    <fieldText>Starting Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Date Should be in Future&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Starting_Date} &gt;= {!TodayDate}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Find_Best_Hotel_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Type</name>
                    <choiceReferences>TypesOfRoom</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Single</stringValue>
                    </defaultValue>
                    <fieldText>Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Maximum_Price_Range</name>
            <dataType>Currency</dataType>
            <fieldText>Maximum Price Range</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <pauseButtonLabel>Cancel</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Last_Screen</name>
        <label>Last Screen</label>
        <locationX>50</locationX>
        <locationY>1934</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>successScreen</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;https://wise-wolf-362dlq-dev-ed.trailblaze.lightning.force.com/lightning/r/Customer__c/{!Create_Customer}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Your Customer is here&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_The_Room</name>
        <label>Select The Room</label>
        <locationX>380</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_the_Room_Selection</targetReference>
        </connector>
        <fields>
            <name>List_Of_Rooms</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Rooms__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Available Rooms</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Rooms</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-f692&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;RoomId&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Room_Number__c&quot;,&quot;guid&quot;:&quot;column-8ab6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Room Number&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Type__c&quot;,&quot;guid&quot;:&quot;column-28e7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Dicount__c&quot;,&quot;guid&quot;:&quot;column-3d9a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Discount&quot;,&quot;type&quot;:&quot;customPercent&quot;},{&quot;apiName&quot;:&quot;Price_Per_Day__c&quot;,&quot;guid&quot;:&quot;column-e1b9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Price Per Day&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;&quot;,&quot;guid&quot;:&quot;column-3e7a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <pauseButtonLabel>cancel</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_The_Room_Booking</name>
        <label>Select The Room For Booking</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Select_The_Room</targetReference>
        </connector>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;Please Select a Room&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_Best_Hotel</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Reservation_Records</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Reservation__c</objectType>
    </variables>
    <variables>
        <name>reservationList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Reservation__c</objectType>
    </variables>
    <variables>
        <name>reservIDs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Room_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Rooms__c</objectType>
    </variables>
    <variables>
        <name>Room_Records</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Rooms__c</objectType>
    </variables>
</Flow>
